:root {
  /* TYPES */
  --c_prod: #9c595e;
  --c_dev: #68466d;
  --c_peer: #394f7a;
  --c_opt: #3b695f;
  /* VERSIONS */
  --c_old: #f3634f;
  --c_current: #aee239;
  --c_latest: #40c0cb;
  /* VERSIONS NEW */
  --c_old: #e7934e;
  --c_current: #c2ec5f;
  --c_latest: #61d6cc;
}

body a {
  display: inline-block;
  color: var(--color);
  padding: 0.25em 0.5em;
  border: 1px solid var(--color);
  border-radius: 3px;
}

.dependencies {
  width: 100%;
}

.dependency-extra {
  display: none;
}

.dependency-extra td {
  padding: 0.5em;
}

.dependency:nth-child(4n+1) {
  background-color: rgba(0, 0, 0, 0.2);
}

.dependency:hover, .dependency:focus  {
  outline: none;
  background-color: rgba(255, 255, 255, 0.05);
}

.dependency td {
  padding: 0.5em;
}

/* LEGEND */

.caption {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 20px;
  width: 100%;
  box-sizing: border-box;
  background: var(--background-color);
  box-shadow: 0 6px 6px -6px black;
}

.caption menu {
  margin: 0;
  padding: 0;
  float: left;
}

.caption legend {
  float: right;
}

.legend {
  margin-right: 1em;
}

.legend::before {
  content: '\2B24';
  margin-right: 0.5em;
}

.legend.current::before {
  color: var(--c_current);
}

.legend.old::before {
  color: var(--c_old);
}

.legend.latest::before {
  color: var(--c_latest);
}

/* TAG STYLE */

.type,
.version {
  display: inline-block;
  padding: 0.25em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

/* TYPES */

.type-column {
  width: 1px;
}

.type {
  width: 3.2em;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.8);
}

.type.prod {
  background-color: var(--c_prod);
}

.type.dev {
  background-color: var(--c_dev);
}

.type.peer {
  background-color: var(--c_peer);
}

.type.opt {
  background-color: var(--c_opt);
}

/* NAME */

.name {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* VERSIONS */

.version-column {
  width: 1px;
  white-space: nowrap;
  text-align: left;
}

.version {
  width: 4em;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
}

.version.current {
  background-color: var(--c_current);
}

.version.old {
  background-color: var(--c_old);
}

.version.latest {
  background-color: var(--c_latest);
}
