<h3>Dependencies</h3>
{{#each dependencies as |version name|}}
<li class="dependency">{{name}}
  <span class="version">{{version}}</span>
</li>
{{/each}}

<hr />

<h3>Development dependencies</h3>
{{#each devDependencies as |version name|}}
<li class="dependency">{{name}}
  <span class="version">{{version}}</span>
</li>
{{/each}}
